.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 8px;
    margin-right: 2rem;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
    cursor: pointer;
    font-family: cursive;
}

.userList h2{
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    padding: 5px;
    color: #c32e33;
    border-radius: 20px;
    transition: 600ms;
    font-weight: lighter;
}

.userList h2:hover{
    transition: 600ms;
    box-shadow: 0 1px 2px rgb(0, 0, 0);
    padding: 5px;
    color: #c32e33;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.4rem;
    box-shadow: 0px 2px 4px black;
    text-align: center;
    color: #c32e33;
    font-weight: bold;
}

.button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    box-shadow: 0px 2px 4px black;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-color: #c32e33;
}